services:
  backend:
    build:
      # Build the Docker image using the Dockerfile in the current directory
      context: .
      dockerfile: Dockerfile
    # use this name for the built image
    image: spring-demo:latest
    ports:
      - "5000:5000"
    # Set environment variables for database connection 
    # (automatically picked from .env file, yeah!)
    environment:
      PORT: ${PORT:-5000}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
